In [ ]:
# Experiment 3 : Study of Tuples in python
# Naman Bothra
# PRN : 25070123078

tpl = (2 , True , "Naman")
print(tpl)

tpl2 = ("Apple", "Banana", "Orange")
print(tpl2[-2])
print(tpl2[1])

(2, True, 'Naman')
Banana
Banana

In [ ]:
tpl3 = (10,)*5
print(tpl3)

lst = ["Symbiosis",]*5
print(lst)

(10, 10, 10, 10, 10)
['Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis']

In [ ]:
tpl4 = ("Apple", "Banana", "Orange")
print("before:",id(tpl4))
tpl5 = ("kiwi",)
tpl6 = tpl4 + tpl5
tpl4 += tpl5
print(tpl6)
print(tpl4)
print("after:",id(tpl4))

before: 136627857657152
('Apple', 'Banana', 'Orange', 'kiwi')
('Apple', 'Banana', 'Orange', 'kiwi')
after: 136627857581584

In [ ]:
tpl4 = ["Apple", "Banana", "Orange"]
print("before:",id(tpl4))
tpl5 = ["kiwi",]
tpl6 = tpl4 + tpl5
tpl4 += tpl5
print(tpl6)
print(tpl4)
print("after:",id(tpl4))

before: 136627857627840
['Apple', 'Banana', 'Orange', 'kiwi']
['Apple', 'Banana', 'Orange', 'kiwi']
after: 136627857627840

In [ ]:
tpl7 = ("apple","orange","cherry")
tpl7 = tpl7 + ("mango",)
print(tpl7)

('apple', 'orange', 'cherry', 'mango')

In [ ]:
tpl8 = ("apple","orange","cherry")
tpl8 = tpl8[:1] + ("mango",) + tpl8[1:]
print(tpl8)

('apple', 'mango', 'orange', 'cherry')

In [ ]:
tpl9 = ("apple","orange","banana")
tpl10 = ["kiwi","mango"]
tpl9 = tpl9 + tuple(tpl10)
print(tpl9)
print(tpl10)

('apple', 'orange', 'banana', 'kiwi', 'mango')
['kiwi', 'mango']

In [ ]:
marks = (90,82,66,76,33)
print(max(marks))
print(min(marks))
print(sum(marks))
print(len(marks))
print(sum(marks)/len(marks))
print(sorted(marks))
print(marks)

90
33
347
5
69.4
[33, 66, 76, 82, 90]
(90, 82, 66, 76, 33)

In [ ]:
result = ("maths",82,"A")
subject , marks , grade = result
print("subject:",subject)
print("Marks:",marks)
print("Grades:",grade)

if marks >= 75:
  print("Distinction")

subject: maths
Marks: 82
Grades: A
Distinction

In [ ]:
Attendance = ("P","A","P","A","P")
print(Attendance.count("P"))
print(Attendance.count("A"))
if Attendance.count("P") >= 1:
  print("Allowed")
else:
  print("Not Allowed")

3
2
Allowed